<%- include('../../partials/header'); %>
<div class="card">
    <div class="card-body">
        <% 
            let no = 1;
        %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>Email</th>
                    <th>Tanggal Lahir</th>
                    <th>Jenis Kelamin</th>
                    <th>Alamat</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            <% if(data) { %>
                <% data.forEach((user) => { %>
                <tr>
                    <td><%= no++ %> </td>
                    <td><%= user.name %> </td>
                    <td><%= user.email %> </td>
                    <td><%= user.birthday %> </td>
                    <td><%= user.gender %> </td>
                    <td><%= user.address %> </td>
                    <td><a class="btn btn-primary" href="/user/show/<%= user.id %>" role="button">Detail</a></td>
                </tr>
                <% }) %>
            <% } %>
            </tbody>
        </table>
    </div>
</div>s
<%- include('../../partials/footer'); %>